<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>

<style>

</style>

<script>
    console.log("TESTEO")
</script>

<body>
    <app-barra></app-barra>
    <div class="bloque">
        
        <h1 class="animate">Seleccionar personaje</h1>
    </div>
    <div class="body solid">
        
        <br>
        <!-- Cards with media area -->
        <div *ngFor="let personaje of personajes">
            <mat-card class="personaje-card">
                <mat-card-title-group>
                    <mat-card-title>{{ personaje.nombre }}</mat-card-title>
                    <mat-card-subtitle>Level: {{personaje}}</mat-card-subtitle>
                    <img mat-card-xl-image src="/assets/img/pj3.jpg" layout-fill>
                </mat-card-title-group>
                <mat-card-content>
                    Skills: valer pico
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="selector solid" [@selectorPj]="isSelected ? 'activo' : 'inactivo'">

        <button mat-raised-button color="primary" class="botones" (click)="toggleCentro()"><b>Seleccionar</b></button>
        <div [@selectorPj]="isSelected ? 'activo' : 'inactivo'" class="open-close-container">

        </div>
    </div>
</body>



  

</html>